body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.header-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: #f8f8f8;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    box-sizing: border-box;
    left: 0;
}

.header-button-home-page img{
    height: 45px;
    width: 45px;
}

.header-button-home-page:hover {
    background-color: rgba(214, 220, 220, 0.32);
    transform: scale(1.1);
}

.container {
    max-width: 70%;
    margin: 80px auto 20px; 
    padding: 0 20px;
}

.product-list {
    margin-top: 20px;
}

.product-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 5px;
    gap: 15px;
}

.product-item img {
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 5px;
}

.product-details {
    flex: 1;
}

.product-item p {
    margin: 5px 0;
}

.remove-button {
    background-color: #272525;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.remove-button:hover {
    background-color: #000000;
}

#buyNowButton {
    background-color: #4c78af;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
}

#buyNowButton:hover {
    background-color: #395f8d;
}

.cart-logo {
    height: 34px;
    width: 34px;
    vertical-align: middle;
    margin-right: 10px;
}

#emptyCartMessage {
    font-size: 1.8em;
    color: #555;
    text-align: center;
}

.sad-emoji {
    font-size: 10em;
    display: block;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .product-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .product-item img {
        height: 60px;
        width: 60px;
    }

    .remove-button {
        margin-top: 10px;
    }
}

.quantity-control {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.quantity-btn {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 5px;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity-number {
    padding: 0 15px;
    font-size: 16px;
}
