body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #e3e4e8, #cfd3e3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #333;
}

.login-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Ensures padding is included within width */
}

h2 {
    margin-bottom: 20px;
    color: #444;
    font-size: 28px; /* Adjusted font size for a prominent headline */
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    white-space: nowrap; /* Prevents text from wrapping to the next line */
    overflow: hidden; /* Ensures text does not overflow the container */
    text-overflow: ellipsis; /* Adds ellipsis (...) if the text is too long */
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #777;
    font-size: 16px;
    cursor: pointer;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
    box-sizing: border-box; /* Ensures padding is included within width */
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    background-color: #007bff;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    font-weight: bold;
    box-sizing: border-box; /* Ensures padding is included within width */
}

button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:active {
    background-color: #0056b3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
}

#message {
    margin-top: 15px;
    color: #dc3545;
    font-size: 14px;
}
